name: AndroidEmulator

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Test
      run: .scripts/check-privilege.sh && docker-compose up --force-recreate --remove-orphans --exit-code-from tester